// Buttons
=btn
  color: $white-0
  border-radius: 2px 
  padding: 8px 14px
  text-transform: uppercase
  margin: 0 0.2rem
  font-size: 13px
  font-weight: 300
  letter-spacing: 1px
  outline: none
  text-decoration: none
  &:hover
    cursor: pointer

=btn--blue
  background-color: $blue-4
  padding: 6px 12px
  text-transform: none
  border: none
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.25)

=btn--green
  background-color: $green-3
  text-transform: none
  padding: 0.6rem 1rem
  border: none
  box-shadow: 0px 3px 3px rgba(12, 50, 75, 0.25)

=btn--red
  background-color: $red-3
  text-transform: none
  padding: 0.6rem 1rem
  border: none
  box-shadow: 0px 3px 3px rgba(12, 50, 75, 0.25)

=btn--purple
  border: 2px solid $violet-4
  width: 5%

=btn--comparator
  border: 2px solid $violet-4
  text-transform: none
  padding: 6px 12px

=btn--grid
  border: 2px solid $orange-4
  text-transform: none
  padding: 6px 12px
  background: none
  transition: 0.4s
  margin: 0 1rem
  &:hover
    background: $orange-6

// Lines
=line
  border: 1px solid $violet-4

=line--vertical($property)
  transform: $property