// Colors
// The numbers represents how light the color is. 0 is the lightest

// Whites
$white-6: #909090
$white-5: #9d9d9d
$white-4: #b1b1b1
$white-3: #c2c2c2
$white-2: #cccccc
$white-1: #d6d6d6
$white-0: #E0E0E0 // White Text

// Blue
$blue-10: rgba(0, 17, 35, 0.75)
$blue-9: rgba(0, 15, 35, 0.75)
$blue-8: #0f1324
$blue-7: #161B33
$blue-6: #1B2246
$blue-5: #1d254c
$blue-4: #2E3868
$blue-3: rgba(75, 24, 130, 0.7)
$blue-2: rgba(50, 40, 122, 0.4)

// Violet
$violet-8: #380f4c
$violet-7: #421459
$violet-6: #5c137f
$violet-5: #52206b // Active Routes
$violet-4: #68168F 
$violet-3: #6d1896 // Normal Buttons

// Cyan
$cyan-4: #0DE0C7 // Stats | Date Time & Boss Names

// Orange 
$orange-6: #895001
$orange-5: #af6401
$orange-4: #E0980D // iLvL Text & Raid Names
$orange-3: #f99c20 // iLvL Text & Raid Names
$orange-2: #f9b639 

// Yellows
$yellow-3: #c1c100
$yellow-4: #d7d700
$yellow-5: #e1e100

// Green
$green-3: #07a77b
$green-4: #18c600

// Red
$red-2: #ab1616
$red-3: #cb1b1b
$red-4: #f20000

// Active Route
$hover-route: #672daf
$active-route: #7737c6

// Qualities
$poor: #7c7c7c 
$epic: #972DA7
$rare: #1068DD

// Blog Posts
$post-border: rgba(49, 61, 114, 0.8)
$subtitle-color: #a3b8cc 

// Text shadow
$text-shadow: 0 2px 4px rgba(0,0,0,.8), 0 8px 16px rgba(0,0,0,.6)

// Box Shadow
$box-shadow-6: 0 6px 10px rgba(0,0,0, .6), 0 10px 34px rgba(0,0,0, .6)
$box-shadow-5: 0 6px 10px rgba(0,0,0, .5), 0 8px 32px rgba(0,0,0, .5)
$box-shadow-4: 0 6px 10px rgba(0,0,0, .4), 0 6px 30px rgba(0,0,0, .4)
$box-shadow-3: 0 4px 7px rgba(0,0,0, .3), 0 5px 7px rgba(0,0,0, .3)
$box-shadow-2: 0 2px 4px rgba(0,0,0, .3), 0 2px 4px rgba(0,0,0, .3)